<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.30.1" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.30.1" />
  <package id="Microsoft.IdentityModel.Logging" version="6.30.1" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.30.1" />
  <package id="Microsoft.NETCore.Targets" version="1.1.0" />
  <package id="runtime.osx.10.10-x64.runtime.native.System.Security.Cryptography.Apple" version="4.3.1" />
  <package id="System.Buffers" version="4.5.1" />
  <package id="System.ComponentModel" version="4.3.0" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" />
  <package id="System.Globalization" version="4.3.0" />
  <package id="System.IO" version="4.3.0" />
  <package id="System.Memory" version="4.5.4" />
  <package id="System.Numerics.Vectors" version="4.5.0" />
  <package id="System.Reflection" version="4.3.0" />
  <package id="System.Reflection.Primitives" version="4.3.0" />
  <package id="System.Reflection.TypeExtensions" version="4.7.0" />
  <package id="System.Resources.ResourceManager" version="4.3.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" />
  <package id="System.Runtime.Extensions" version="4.3.0" />
  <package id="System.Runtime.Handles" version="4.3.0" />
  <package id="System.Runtime.InteropServices" version="4.3.0" />
  <package id="System.Security.Cryptography.Cng" version="4.5.0" />
  <package id="System.Text.Encoding" version="4.3.0" />
  <package id="System.Text.Encodings.Web" version="4.7.2" />
  <package id="System.Text.Json" version="4.7.2" />
  <package id="System.Threading.Tasks" version="4.3.0" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" />
</packages>